
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#000000" width="100%">
	
	<tr>
		<td></td>
		<td colspan=3 class="main">
<STYLE type="text/css">
.cssimage{
	border-color: transparent;
	border-width: 0px;
	margin-top: 0px;
	margin-left: 1px;
      }
</style>

<div><a STYLE="text-decoration:none" href="gallery"><h1 style="padding-left:0px;">Working Voices Choir Photo Gallery</h1></a> &nbsp; 
<a class="standard" target="Working Voices Choir_RSS" href="http://picasaweb.google.com/data/feed/base/user/116573252941073621761?kind=album&alt=rss&hl=en_US&access=public">
<!-- <img class="cssimage" alt="RSS" src="rss13x13.jpg">--></a></div>

<div class="pwimages">
<style class="pwimages">.pwimages{border: 0px none; padding: 0px;}</style>
<script type="text/javascript">username = '116573252941073621761'; photosize='100%'; columns='4';</script>
<script type="text/javascript" src="/javascripts/pwa.js"></script>
</div>

<!--<br><br><center>For technical information about this photo gallery, please <a class="standard" target="GOOGLIFIED" href="http://googlified.com/2007embedding-picasa-web-albums-on-your-site/">click here</a>.</center>-->


		</td>
	</tr>

</table>


