<div id="howtojoin_lpage">
	<h1><%= @title %> Working Voices Choir</h1>
	<p>You are welcome to the Working Voice Choir, whose main delight is singing songs of social justice, from wherever they originate.</p>
<h2>Here is some information that may be useful to you:</h2>
	<p>
		<ul>
			<li><h3>Choir Directors</h3></li> 	<p>Bernard and Eleanor Carney</p>
												<p>P: 08 9361 0272</p>
											  <p>E: bernardcarney@westnet.com.au</p>
			<li><h3>Practice Details</h3></li><!--//////////////////////////////////////////////////////////////- Joining Form Link Option -->
<div id="music_notes"><!--<a href="joining_form">--><img src="/images_lpages/images_joining/sheet_music1_v2.png" width="266" height="246" alt="sheet music"><!--</a>
											    <p><a href="joining_form">Join Form Here</a></p>-->
  </div><!--end id #music_notes-->	<p>Thursdays 6:30pm - 8:30pm</p>
									 			<p>3rd Floor, State School Teachers Union (SSTU)</p>
									 			<p>Adelaide Terrace <span class="italic_text">(enter from the car park at the back)</span></p>
								 			  <p>Note: If arriving later than 6:40 pm, you will require street parking.</p>
			<li><h3>Fees</h3></li>				<p>First attendance free (with a 4 week grace period for the yearly subscription)</p>
												<p>Each Attendance:	$10 waged or $8 unwaged <span class="twist">PLUS</span></p>
		  <p>Annual Subscription:	 $50 waged or $40 unwaged</p>
												<p class="italic_text">(Subscription is to be paid in January and new members joining after mid-year pay 1/2)</p>
			<li><h3>Uniform (for performances only)</h3></li>				<p>Obtain T-Shirt from choir member - Jo Bower ($30)</p>
			<p class="italic_text">(Working Voices T-Shirt, black pants/skirt/shoes)</p>
		</ul>
	</p>
	<h3>To Be Completed</h3>
	
<!--end id howtojoin_lpage--></div>

