
	<!--/////////////////////////////////////////////////////////////////////////////////////////////////// Content Container-->
<div id="home_lpage">
    <p><img src="/images_home/animated_headerv1.gif" width="100%" alt="Words of Working Voices Choir"></p>
	<h1>It can be said that the <em>Working Voices Choir</em> always have something to sing  about!</h1>
<p>From its early origins <i>(formed in 1989 in Perth, Western Australia, as the Combined Trade Unions choir)</i> the choir gave voice to support the "working" cause for  union issues and matters of social fairness.</p>
<p>Today that same creative force brings attention to a range of concerns including indigenous support, refugee causes and anywhere there is social injustice.</p>
<p>Working Voices can be hired for rallies or peaceful demonstration.</p>
	
<!--end id home_lpage--></div>
