  		<div class="footer">
        <p><a tabindex="100 " href='contact_us'>Contact Us</a>  |  <a tabindex="101" href='terms_conditions'>Terms &amp; Conditions and Privacy</a>  |  <a tabindex="102" href='disclaimer'>Disclaimer</a>  |  <a tabindex="103" href="http://theelist.com.au/web_builds/intro_lpage">Website created by The Elist </a>  |  <a tabindex="104" href='administrator'>Administrator</a></p>
        <p>Copyright &copy; Working Voices Choir 2011 - All Rights Reserved.</p>
        </div><!--end .footer-->		

<!--    		<p>This .footer contains the declaration position:relative; to give Internet Explorer 6 hasLayout for the .footer and cause it to clear correctly. If you're not required to support IE6, you may remove it.</p> -->

