    	<div class="header">	       	
			<a tabindex="1" href='home'><%= image_tag("/images_template/wvc_logo2_clr_100.png", :alt => "Working Voices Choir Rose Logo", :class => "logo_img") %></a>
			<a tabindex="1" href='home'><%= image_tag("/images_template/vwc_words2c.png", :alt => "Working Voices Choir Rose Logo", :class => "words_img") %></a>
	  	</div><!-- end .header -->
